.board {
  @apply w-screen;
  @apply h-screen;
  @apply bg-gray-400;
  @apply p-8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1vw 1vw;
}