.card {
  @apply bg-orange-400 text-gray-800;
  width: 20vh;
  height: 20vh;
  transition: all .4s ease;

  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: normal;

  @apply cursor-pointer;
}

.card:hover {
  @apply bg-orange-500;
}